{% extends "layout.html" %}
{% block content %}
<p class="titles shadow"> Shopping Cart: {{ current_user.username }}</p>

<table>
  <tr><th>Product</th> <th>Quantity</th> <th>Price</th> <th>Total</th></tr>

  {% for key, value in display_cart.items() %}
  <tr>
    <!-- <td>{{ key }}</td> -->
    <td>{{ value["title"] }}</td>
    <td>{{ value["quantity"] }}</td>
    <td>£{{ value["price"] }}</td>
    <td>£{{ (value["quantity"] * value["price"]) }}</td>

    <td>
      <form action="{{ url_for('delete_game', game_id=key|int) }}" method="POST">
        <input class="" type="submit" value="Delete">
      </form>
    </td>
  </tr>
  {% endfor %}

</table>
<br>
<h3>Total: £{{ total }} </h3>
<br>
<h3>Number of items: {{ total_quantity }} </h3>
<br>
<p id="demo"></p>
<a id="change" href="" onclick="myFunction()" class="button">Checkout</a>

{% for key, value in display_cart.items() %}
<script>
function myFunction() {
var link = document.getElementById("change");
if ({{total_quantity }} == 0 ) {
  link.href = "{{ url_for('cart') }}";
  document.getElementById("demo").innerHTML = "There is nothing in your cart to checkout";

}
  else{
    link.href = "{{ url_for('mycheckout') }}";
  }
}
</script>
{% endfor %}
{% endblock content %}