{% extends "layout.html" %}
{% block content %}
<h1 class="titles shadow">GAMES</h1>
<br>
{% for game in games %} 

<div class="gallery">
  <a href="{{ url_for('game', game_id=game.id) }}"><img src = "{{ url_for('static', filename='img/' + game.image_file) }}" width="200" height="300"></a>
    <a href="{{ url_for('game', game_id=game.id) }}">

	<p>"{{ game.title }}" 
	<br>
	Console: {{ game.console.console_name }}</p>
</a>

<p>Price: {{ game.price }}</p> 

</div>

{% endfor %}
{% endblock content %}
