* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body {
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.menu-area li a {
    text-decoration: none;
}

.menu-area li {
    list-style-type: none;
}

.custom-padding{
    padding-top: 25px;
}

.padding-left{
    padding-left: 25px;
}

nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: left;
    padding-right: 2%;
}

.menu-area li {
    display: inline-block;
}

.menu-area a {
    color: tomato;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;

}
.menu-area a:hover {
    background: tomato;
    color: #fff;
}

.menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}


.gallery {
    margin: 5px;
    float: left;
    width: 200px;
}


.titles {
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-size: 50px
}


table, td, th, tr{
    border: 1px solid #ddd;
}

table{
    border-collapse: collapse;
    width: 100%;
}


th{
    text-align: left:;
    padding: 15px;
}


.footers{
    background-color: #333;
    color: tomato;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 10px 10px;
    margin-top: 50px;
}

.shadow{
    text-shadow: 2px 2px 5px tomato;
}

.footer-left{

display: block;
width: 100%;
margin-bottom: 5px;
text-align: center;
}

.red{
    color: red;
}


.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: tomato;
  background-color: #333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #666}

.button:active {
  background-color: #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}



hr {
  border: 1px solid lightgrey;
}



@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


